[submodule "judgels-uriel"]
	path = judgels-uriel
	url = https://github.com/ia-toki/judgels-uriel.git
  branch = master

[submodule "judgels-sandalphon"]
	path = judgels-sandalphon
	url = https://github.com/ia-toki/judgels-sandalphon.git
  branch = master

[submodule "judgels-jophiel"]
	path = judgels-jophiel
	url = https://github.com/ia-toki/judgels-jophiel.git
  branch = master

[submodule "judgels-play-commons"]
	path = judgels-play-commons
	url = https://github.com/ia-toki/judgels-play-commons.git
  branch = master

[submodule "judgels-sealtiel-message"]
	path = judgels-sealtiel-message
	url = https://github.com/ia-toki/judgels-sealtiel-message.git
  branch = master

[submodule "judgels-gabriel-commons"]
	path = judgels-gabriel-commons
	url = https://github.com/ia-toki/judgels-gabriel-commons.git
  branch = master

[submodule "judgels-gabriel"]
	path = judgels-gabriel
	url = https://github.com/ia-toki/judgels-gabriel.git
  branch = master

[submodule "judgels-sealtiel"]
	path = judgels-sealtiel
	url = https://github.com/ia-toki/judgels-sealtiel.git
  branch = master

[submodule "judgels-michael"]
	path = judgels-michael
	url = https://github.com/ia-toki/judgels-michael.git
  branch = master

[submodule "judgels-frontend-commons"]
	path = judgels-frontend-commons
	url = https://github.com/ia-toki/judgels-frontend-commons.git
  branch = master

[submodule "judgels-moe"]
	path = judgels-moe
	url = https://github.com/ia-toki/judgels-moe.git
